/*--------[ Form Elements ]---------------------------------------------------*/
.inputs {
  display: block;
  margin-bottom: 15px;
}

label {
  color: #888;
  font-weight: 300;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  &:focus {
    border: 1px solid #2980c6;
  }
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  &:focus {
    border: 1px solid #2980c6;
  }
}

/*--------[ Buttons ]---------------------------------------------------------*/
.btn {
  color: #fff;
  padding: 8px 16px;
  background: #2ecc71;
  transition: all 1.4s ease-in-out;
  &:hover {
    background: #2ab163;
    color: #fff;
    transition: all .4s ease-in-out;
  }
}

.btn-submit {
  width: 100%;
}

.btn-large {
  padding: 16px;
}

.btn.fixed {
  width: 300px;
}

/*------------------------------------------------------------------------------
| Small Screens, 768px and up
------------------------------------------------------------------------------*/
@media (min-width: 768px) {
}

/*------------------------------------------------------------------------------
| Medium Screens, 992px and up
------------------------------------------------------------------------------*/
@media (min-width: 992px) {
}

/*------------------------------------------------------------------------------
| Large Screens, 1200px and up
------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
}
