@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic);
/*--------[ Links ]-----------------------------------------------------------*/
/* line 5, ../scss/_typo.scss */
a, a:visited, a:active {
  color: #2ecc71;
  text-decoration: none;
  transition: all 1s ease-in-out;
}
/* line 9, ../scss/_typo.scss */
a:hover, a:visited:hover, a:active:hover {
  color: #2ab163;
}
/* line 12, ../scss/_typo.scss */
a:focus, a:visited:focus, a:active:focus {
  color: #2ab163;
}

/*--------[ Typography ]------------------------------------------------------*/
/* line 18, ../scss/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Abel;
  color: #2980c6;
}

/* line 23, ../scss/_typo.scss */
h1, h2 {
  margin-bottom: 20px;
}

/*------------------------------------------------------------------------------
| Small Screens, 768px and up
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
| Medium Screens, 992px and up
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
| Large Screens, 1200px and up
------------------------------------------------------------------------------*/
/*--------[ Global Styles ]---------------------------------------------------*/
/* line 2, ../scss/_global.scss */
html, body {
  font-family: Asap;
  font-size: 16px;
  color: #696c7f;
}

/* line 8, ../scss/_global.scss */
hr .fading {
  display: block;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
  margin: 50px 0px 5px;
}

/* line 16, ../scss/_global.scss */
a i {
  margin: 0 8px 0 0;
}

/*------------------------------------------------------------------------------
| Small Screens, 768px and up
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
| Medium Screens, 992px and up
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
| Large Screens, 1200px and up
------------------------------------------------------------------------------*/
/*--------[ Spacers ]---------------------------------------------------------*/
/* line 2, ../scss/_layout.scss */
.spcr-20 {
  margin-top: 20px;
}

/* line 3, ../scss/_layout.scss */
.spcr-40 {
  margin-top: 40px;
}

/* line 4, ../scss/_layout.scss */
.spcr-60 {
  margin-top: 60px;
}

/*--------[ Size Modifiers ]--------------------------------------------------*/
/* line 7, ../scss/_layout.scss */
.fw {
  width: 100%;
  height: auto;
}

/* line 11, ../scss/_layout.scss */
.aw {
  width: auto;
  height: auto;
}

/*--------[ Visibility Modifiers ]--------------------------------------------*/
/* line 17, ../scss/_layout.scss */
.hid {
  visibility: hidden;
}

/* line 18, ../scss/_layout.scss */
.invisible {
  visibility: hidden;
}

/* line 19, ../scss/_layout.scss */
.hid-mobile {
  visibility: hidden;
}

/* line 20, ../scss/_layout.scss */
.hid-tablet {
  visibility: hidden;
}

/* line 21, ../scss/_layout.scss */
.hid-desktop {
  visibility: hidden;
}

/*--------[ Layout Blocks ]---------------------------------------------------*/
/* line 24, ../scss/_layout.scss */
.block-home-services {
  background: #11151F;
  border: 1px solid #01090D;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 5px 20px;
  transition: all .6s ease-in-out;
}

/* line 33, ../scss/_layout.scss */
.block-home-services:hover {
  background: #4D5A50;
}

/* line 37, ../scss/_layout.scss */
.block-home-services h3 {
  font-weight: 500;
  transition: all .6s ease-in-out;
}

/* line 41, ../scss/_layout.scss */
.block-home-services:hover h3 {
  color: #11151F;
  font-weight: 900;
  transition-duration: .6s;
  margin-left: 8px;
}

/* line 48, ../scss/_layout.scss */
.block-home-services:hover i {
  color: #11151F;
  transition: all .4s ease-in-out;
}

/*------------------------------------------------------------------------------
| Small Screens, 768px and up
------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  /*--------[ Visibility Modifiers ]------------------------------------------*/
  /* line 58, ../scss/_layout.scss */
  .hid-mobile {
    visibility: visible;
  }
}
/*------------------------------------------------------------------------------
| Medium Screens, 992px and up
------------------------------------------------------------------------------*/
@media (min-width: 992px) {
  /*--------[ Visibility Modifiers ]------------------------------------------*/
  /* line 66, ../scss/_layout.scss */
  .hid-tablet {
    visibility: visible;
  }

  /* line 67, ../scss/_layout.scss */
  .hid-desktop {
    visibility: hidden;
  }
}
/*------------------------------------------------------------------------------
| Large Screens, 1200px and up
------------------------------------------------------------------------------*/
/*--------[ Navigation ]------------------------------------------------------*/
/* line 2, ../scss/_includes.scss */
nav {
  width: 100%;
  height: 64px;
  background: rgba(0, 0, 0, 0.5);
  color: #ebebeb;
  z-index: 9999;
}

/* line 9, ../scss/_includes.scss */
.nav-fixed {
  position: fixed;
  top: 0;
}

/* line 13, ../scss/_includes.scss */
.nav-push {
  margin-top: 64px;
}

/* line 16, ../scss/_includes.scss */
.menu-main-toggle {
  display: inline-block;
  float: right;
  font-size: 20pt;
  margin-top: 14px;
}

/* line 22, ../scss/_includes.scss */
.menu-main {
  display: block;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  float: none;
  width: 100%;
}

/* line 32, ../scss/_includes.scss */
.menu-main li {
  margin: 0;
  padding: 0;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 61px;
  font-weight: 500;
}

/* line 41, ../scss/_includes.scss */
.menu-main a.active {
  color: #ebebeb;
  border-bottom: 3px solid #2ecc71;
}

/* line 45, ../scss/_includes.scss */
.menu-main a {
  display: block;
}

/* line 48, ../scss/_includes.scss */
.menu-main a:hover {
  color: #ebebeb;
  text-decoration: none;
}

/* line 52, ../scss/_includes.scss */
.header-logo {
  margin: 17px 0;
}

/*------------------------------------------------------------------------------
| Small Screens, 768px and up
------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  /*--------[ Navigation ]------------------------------------------------------*/
  /* line 61, ../scss/_includes.scss */
  nav {
    width: 100%;
    height: 64px;
    background: rgba(0, 0, 0, 0.5);
    color: #ebebeb;
    z-index: 9999;
  }

  /* line 68, ../scss/_includes.scss */
  .nav-fixed {
    position: fixed;
    top: 0;
  }

  /* line 72, ../scss/_includes.scss */
  .nav-push {
    margin-top: 64px;
  }

  /* line 75, ../scss/_includes.scss */
  .menu-main-toggle {
    display: none;
  }

  /* line 78, ../scss/_includes.scss */
  .menu-main {
    background: none;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    width: auto;
  }

  /* line 87, ../scss/_includes.scss */
  .menu-main li {
    background: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 61px;
    font-weight: 500;
  }

  /* line 97, ../scss/_includes.scss */
  .menu-main li.active {
    color: #ebebeb;
    border-bottom: 3px solid #2ecc71;
  }

  /* line 101, ../scss/_includes.scss */
  .menu-main li.active a {
    color: #ebebeb;
  }

  /* line 104, ../scss/_includes.scss */
  .menu-main a {
    display: block;
  }

  /* line 107, ../scss/_includes.scss */
  .menu-main a:hover {
    color: #ebebeb;
    text-decoration: none;
  }

  /* line 111, ../scss/_includes.scss */
  .header-logo {
    display: inline-block;
    margin: 17px 0;
    float: left;
  }
}
/*------------------------------------------------------------------------------
| Medium Screens, 992px and up
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
| Large Screens, 1200px and up
------------------------------------------------------------------------------*/
/* line 1, ../scss/_sections.scss */
.section-main {
  width: 100%;
  padding: 80px 0;
}

/***************************************************
Intro
****************************************************/
/* line 8, ../scss/_sections.scss */
.section-intro {
  background: url("../images/west-plains-websites.jpg") no-repeat;
  background-size: cover;
  background-position: bottom center;
  text-align: center;
  color: #efefef;
  padding: 40px 0 0 0;
}

/* line 16, ../scss/_sections.scss */
.section-intro-image {
  margin: 100px 0 0 0;
  width: 100%;
  height: auto;
  transition-duration: 3s;
}

/* line 22, ../scss/_sections.scss */
.section-intro h1 {
  color: #fff;
  margin: 20px;
  text-transform: uppercase;
}

/* line 27, ../scss/_sections.scss */
.zoomInDown {
  transition-duration: 3s;
}

/* line 30, ../scss/_sections.scss */
.section-intro-h1 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 22pt;
}

/* line 35, ../scss/_sections.scss */
.section-intro-h2 {
  margin: 0 0 100px;
  padding: 0;
  color: #2980b9;
}

/* line 40, ../scss/_sections.scss */
.social-icons {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  font-size: 22pt;
  margin-top: -20px;
}

/* line 50, ../scss/_sections.scss */
.digital-ocean {
  display: none;
  float: right;
  width: 180px;
  height: auto;
}

/* line 56, ../scss/_sections.scss */
.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

/* line 60, ../scss/_sections.scss */
.social-icons a {
  color: #efefef;
}
/* line 62, ../scss/_sections.scss */
.social-icons a:hover {
  color: #2ecc71;
}

/*--------[ About ]-----------------------------------------------------------*/
/* line 69, ../scss/_sections.scss */
.section-about-h1 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 22pt;
}

/*--------[ Services ]--------------------------------------------------------*/
/* line 76, ../scss/_sections.scss */
.section-services {
  background: url("../images/west-plains-web-development.jpg");
  background-size: cover;
  color: #ebebeb;
}

/* line 81, ../scss/_sections.scss */
.section-services h2 {
  color: #f8f8f8;
  margin-top: 0;
}

/* line 85, ../scss/_sections.scss */
.section-services h2 .sub-header {
  display: block;
  font-size: 18px;
  margin-top: 10px;
  text-transform: uppercase;
}

/* line 91, ../scss/_sections.scss */
.section-services p {
  text-shadow: 0 1px 1px #000;
}

/* line 94, ../scss/_sections.scss */
.service-icon {
  color: #2980c6;
  background: #ebebeb;
  padding: 8px;
  border-radius: 360px;
  margin-right: 8px;
}

/* line 101, ../scss/_sections.scss */
.service-icon h3 {
  font-weight: 700;
}

/*--------[ Portfolio ]-------------------------------------------------------*/
/* line 106, ../scss/_sections.scss */
.section-portfolio {
  background: #eee;
}

/* line 109, ../scss/_sections.scss */
.section-portfolio h2 {
  margin-top: 0;
}

/* line 112, ../scss/_sections.scss */
.portfolio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 117, ../scss/_sections.scss */
.portfolio-list-item {
  margin-bottom: 30px;
}

/* line 120, ../scss/_sections.scss */
.portfolio-list-banner {
  width: 100%;
  height: auto;
}

/*--------[ Contact ]---------------------------------------------------------*/
/* line 127, ../scss/_sections.scss */
.section-contact h2 {
  margin-top: 0;
}

/* line 130, ../scss/_sections.scss */
.section-contact h3 {
  margin-top: 0;
}

/* line 133, ../scss/_sections.scss */
.contact-list {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

/* line 138, ../scss/_sections.scss */
.contact-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

/* line 142, ../scss/_sections.scss */
.contact-list h4 {
  margin-bottom: 0;
}

/*--------[ Footer ]----------------------------------------------------------*/
/* line 147, ../scss/_sections.scss */
.section-footer {
  background: #041a26;
  color: #f8f8f8;
  padding: 40px 0;
}

/*------------------------------------------------------------------------------
| Small Screens, 768px and up
------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  /*--------[ Intro ]-----------------------------------------------------------*/
  /* line 158, ../scss/_sections.scss */
  .section-intro-image {
    margin: 100px 0 0 0;
    width: auto;
    height: auto;
  }

  /* line 163, ../scss/_sections.scss */
  .section-intro h1 {
    margin: 20px 0 100px 0;
  }

  /* line 166, ../scss/_sections.scss */
  .digital-ocean {
    display: inline-block;
  }
}
/*------------------------------------------------------------------------------
| Medium Screens, 992px and up
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
| Large Screens, 1200px and up
------------------------------------------------------------------------------*/
/*--------[ Form Elements ]---------------------------------------------------*/
/* line 2, ../scss/_forms.scss */
.inputs {
  display: block;
  margin-bottom: 15px;
}

/* line 7, ../scss/_forms.scss */
label {
  color: #888;
  font-weight: 300;
}

/* line 12, ../scss/_forms.scss */
input {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
}
/* line 16, ../scss/_forms.scss */
input:focus {
  border: 1px solid #2980c6;
}

/* line 21, ../scss/_forms.scss */
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}
/* line 25, ../scss/_forms.scss */
textarea:focus {
  border: 1px solid #2980c6;
}

/*--------[ Buttons ]---------------------------------------------------------*/
/* line 31, ../scss/_forms.scss */
.btn {
  color: #fff;
  padding: 8px 16px;
  background: #2ecc71;
  transition: all 1.4s ease-in-out;
}
/* line 36, ../scss/_forms.scss */
.btn:hover {
  background: #2ab163;
  color: #fff;
  transition: all .4s ease-in-out;
}

/* line 43, ../scss/_forms.scss */
.btn-submit {
  width: 100%;
}

/* line 47, ../scss/_forms.scss */
.btn-large {
  padding: 16px;
}

/* line 51, ../scss/_forms.scss */
.btn.fixed {
  width: 300px;
}

/*------------------------------------------------------------------------------
| Small Screens, 768px and up
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
| Medium Screens, 992px and up
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
| Large Screens, 1200px and up
------------------------------------------------------------------------------*/
